<!DOCTYPE html>
<html>
  <!-- Include untuk tag head -->
  <%- include("partials/head"); %>
  <body>
    <!-- include untuk navbar -->
    <%- include("partials/navbar"); %>
    <div class="container m-4">
      <h1><%= title %></h1>
      <p><%= subTitle %></p>
    </div>
  </body>
</html>
